// Content 
.ui.equal.width.center.aligned.stackable.grid.section-one
  .row
    .olive.column
      | Olive
    .black.column
      | Black
  .row(style='background-color: #869D05;color: #FFFFFF;')
    .column Custom Row
  .row
    .black.column
      | Black
    .olive.column
      | Olive

.ui.equal.width.center.aligned.stackable.grid
  .row
    .olive.column
      | Olive
    .black.column
      | Black
  .row(style='background-color: #869D05;color: #FFFFFF;')
    .column Custom Row
  .row
    .black.column
      | Black
    .olive.column
      | Olive