.home-wrap
	max-width: 100%

.ui.secondary.pointing.menu.fixed
	padding: 0 40px
	border-bottom: 0px
.ui.stackable.grid.section-one
	padding-left: 50px
	padding-right: 50px
	min-height: 1000px

.item.header
	padding-bottom: 0px !important
	border-bottom: 0px !important
	img
		width: 110px !important

.item.header.active
	padding-bottom: 0px !important
	border-bottom: 0px !important
	img
		width: 110px !important

.masthead
	&.segment
		min-height: 700px
		padding: 1em 0em
	.logo.item img
		margin-right: 1em
	.ui.menu .ui.button
		margin-left: 0.5em
	h1.ui.header
		margin-top: 3em
		margin-bottom: 0em
		font-size: 4em
		font-weight: normal
	h2
		font-size: 1.7em
		font-weight: normal
		color: white
	.ui.text.container
		max-width: 715px !important

//Fullscreen Bg

.fullscreen-bg
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  z-index: -100

.fullscreen-bg__video
  top: 0

@media(min-width: 1024px)
  .fullscreen-bg__video
  	width: 100%

@media(min-width: 769px)
	.right.menu
        .item.hamburger
          	display: none !important

@media(max-width: 768px)
	.right.menu
        .item.call-us
        	display: none !important
        .item.brochure
        	display: none !important
        .item.customer
        	display: none !important

@media(max-width: 400px)
	.item.products
		display: none !important
	.item.about
		display: none !important